* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.notFound {
  text-align: center;
  margin-top: 10%;
}
.notFound h1 {
  font-size: 130px;
}
.notFound p {
  font-size: 50px;
}
.notFound a {
  color: violet;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
